<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full h-screen dark:bg-zinc-800 bg-zinc-100 p-10">
    <div class="text-white">
      <h3>new account ke liye :</h3>
      <form action="/register" method="post">
        <input class="px-4 py-2 bg-zinc-900 outline-none text-zinc-400 rounded-md" type="text" placeholder="username" name="username">
        <input class="px-4 py-2 bg-zinc-900 outline-none text-zinc-400 rounded-md" type="password" placeholder="password" name="password">
        <input class="px-4 py-2 bg-zinc-900 outline-none text-zinc-400 rounded-md" type="text" placeholder="email" name="email">
        <input class="px-4 py-2 bg-zinc-900 outline-none text-zinc-400 rounded-md" type="number" placeholder="age" name="age">
        <input class="px-4 py-2 bg-blue-500 text-white rounded-md" type="submit">
      </form>

      <h3 class="mt-20">Login karne ke liye :</h3>
      <form action="/login" method="post">
        <input class="px-4 py-2 bg-zinc-900 outline-none text-zinc-400 rounded-md" type="text" placeholder="username" name="username">
        <input class="px-4 py-2 bg-zinc-900 outline-none text-zinc-400 rounded-md" type="password" placeholder="password" name="password">
        <input class="px-4 py-2 bg-blue-500 text-white rounded-md" type="submit">
      </form>
    </div>
  </div>
</body>
</html>